body {
    background-color: #f6f7f9;
    margin: 0;
    font-family: 'Courier New', Courier, monospace
}
p {
    margin-bottom: 0;
}
.container {
    max-width: 500px;
    margin: 70px auto 0 auto;
}
.feed {
    background-color: #bbb;
    padding: 3px;
    margin-top: 20px;
}
.post {
    background-color: #fff;
    margin: 5px;
}
.post .header {
    height: 60px;
}
.post .header > *, .chats .chat .header > * {
    display: inline-block;
    vertical-align: middle;
}

.post .header img, .chats .chat .header img {
    width: 50px;
    height: 50px;
    margin: 5px;
}
.post .header h2 {
    color: #333;
    font-size: 24px;
    margin: 0 0 0 5px;
}
.post p.content {
    margin: 5px;
    padding: 5px;
    min-height: 50px;
}
form {
    padding-bottom: 20px;
}
form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-color: #bbb;
}
form [type=submit] {
    border: none;
    background-color: #6ca6fd;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    float: right;
}

.optimistic {
    -webkit-animation: scale-up 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.chats {
    background-color: #eee;
    width: 200px;
    height: calc(100% - 50px);
    position: fixed;
    top: 50px;
    right: 0;
    border-left: 1px solid #c3c3c3;
}
  
.chats .chat {
    cursor: pointer;
}

.chats .chat .header > div {
    width: calc(100% - 65px);
    font-size: 16px;
    margin-left: 5px;
}
  
.chats .chat .header h2, .chats .chat .header span {
    color: #333;
    font-size: 16px;
    margin: 0;
}
  
.chats .chat .header span {
    color: #333;
    font-size: 12px;
}

.chatWindow {
    width: 250px;
    float: right;
    background-color: #eee;
    height: 300px;
    margin-right: 10px;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}
  
.chatWindow .header {
    width: calc(100% - 10px);
    background-color: #c3c3c3;
    padding: 5px;
    height: 20px;
}
  
.chatWindow .header .close {
    float: right;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}
  
.chatWindow .header .close:focus {
    outline: none;
}
  
.chatWindow .messages {
    overflow-y: scroll;
    height: calc(100% - 50px);
}
  
.chatWindow .messages .message {
    width: 80%;
    border: 1px solid #4079f3;
    margin: 2px;
    border-radius: 5px;
    padding: 2px;
}
  
.chatWindow .messages .message.left {
    background-color: #78a3ff;
    color: #fff;
    float: left;
}
  
.chatWindow .messages .message.right {
    float: right;
    background-color: #E8F4FB;
    color: #000;
}
  
.openChats {
    position: fixed;
    right: 200px;
    width: calc(100% - 200px);
    bottom: 0;
}
  
.wrapper {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}


.chatWindow .input input {
    width: calc(100% - 4px);
    border: none;
    padding: 2px;
}

.chatWindow .input input:focus {
    outline: none;
}

.bouncer {
    margin: 20px auto;
    border-radius: 100%; 
    -webkit-animation: bounce 1.0s infinite ease-in-out;
    animation: bounce 1.0s infinite ease-in-out;
}
  
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
  
@keyframes bounce {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.message {
    margin: 20px auto;
    padding: 5px;
    max-width: 400px;
}
  
.error.message {
    border-radius: 5px;
    background-color: #FFF7F5;
    border: 1px solid #FF9566;
    width: 100%;
}

.dropdown .trigger > * {
    display: block;
    z-index: 1;
}

.dropdown .content {
    position: absolute;
}

.dropdown div {
    position: relative;
}

.post .header .dropdown {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.post .header .dropdown:after {
    height:100%;
    content:'';
    font-size:0;
    vertical-align:middle;
    display:inline-block;
    box-sizing: border-box;
}

.post .header .dropdown .content {
    background-color: #fff;
    border: 1px solid #333;
    width: 150px;
    text-align: center;
    right: 0;
}

.dropdown button {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    padding: 3px;
}

.dropdown button:last-child{
    border-bottom: none;
}

.post .postForm {
    padding: 10px;
}

.post .postForm form {
    padding-bottom: 40px;
}

.topbar {
    width: 100%;
    left: 0;
    height: 50px;
    background-color: #6ca6fd;
    position: fixed;
    top: 0;
    z-index: 5;
}

.inner {
    width: 800px;
    height: 100%;
    margin: auto;
    position: relative;
}

.topbar .inner .search {
    height: calc(100% - 20px);
    padding: 10px;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

.topbar .inner .search input {
    border: none;
    height: 100%;
    padding: 0;
    width: 100%;
    outline: none;
}

.topbar .inner .user {
    position: absolute;
    right: 0;
    display: inline-block;
    height: 100%;
}

.topbar .buttons {
    position: absolute;
    right: 5px;
    top: 5px;
    height: calc(100% - 10px);
}

.topbar .buttons > * {
    height: 100%;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
}

.topbar .inner .user > * {
    display: inline-block;
    vertical-align: middle;
}

.topbar .inner .user img {
    height: calc(100% - 10px);
    margin: 5px;
    border: none;
    min-width: 40px;
    background-color: #ccc;
}

.topbar .error.message{
    margin: 0;
    display: inline-block;
}

.topbar .search .result {
    width: calc(100% - 2px);
    border: 1px solid #c3c3c3;
    margin-top: 1px;
}

.topbar .search .result .user {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #fff;
}

.authModal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.authModal > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.authModal > div form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 200px; 
    border: 1px solid #333;
    background-color: #fff;
    padding: 20px;
}

.authModal > div form input {
    border: 1px solid #c3c3c3;
    padding: 5px;
}

.authModal > div form input[type=submit] {
    width: 100px;
    float: right;
    margin-top: 10px;
}

button.cancelUpload {
    border: none;
    background-color: #6ca6fd;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    float: left;
    margin-top: 10px;
}

button.uploadAvatar {
    border: none;
    background-color: #6ca6fd;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    float: right;
    margin-top: 10px;
}

.post .header a > * {
    display: inline-block;
    vertical-align: middle;
}

.profileHeader {
    margin-top: 60px;
}

.profileHeader .information {
    width: calc(100% - 270px);
    vertical-align: middle;
    display: inline-block;
    padding-left: 20px;
}

.profileHeader .avatar {
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}